@import 'config';

body {
  background-color: $primary-color;
  overflow-y: scroll;
}

.App {
  text-align: center;
  color: $secondary-color;
}

section {
  min-height: 100vh;
  width: 100vw;

  padding-top: 5%;

  * {
    margin: auto;
    width: 80%;
  }
}

a {
  color: $secondary-color;

  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

#home {
  //override height to adjust for navbar
  height: 90vh;

  //center children
  padding-top: 30vh;
}

#about {
  p {
    margin-top: 1em;
    text-align: left;
  }
}

#projects {
  padding-top: 2em;
  display: grid;
  row-gap: 2em;
}

//desktops
@media screen and (min-device-width: 1024px) {
  #projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//tablets
@media screen and (min-device-width: 640px) and (max-device-width: 1024px){
  #projects {
    grid-template-columns: 1fr 1fr;
  }
}

//mobile
@media screen and (max-device-width: 640px){
  #projects {
    grid-template-columns: 1fr;
  }
}