@import 'config';

.card {

  //make all cards the same size
  height: 100%;

  box-shadow: 0 4px 8px 0 darken($secondary-color, 50%);
  transition: 0.3s;

  header {
    margin-top: 5px;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: auto;
    border-bottom: solid 1px gray;
  }

  .card-content {
    * {
      text-align: left;
      margin-top: 10px;
    }

    margin-bottom: 5px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 darken($secondary-color, 50%);
}

