@import 'config';

#social-bar {

  a {
    color: $secondary-color;
    text-decoration: none;
    font-size: 2em;
    margin: .25em;
  }

  a:hover {
    color: darken($secondary-color, 20%);
    text-decoration: none;
  }
}